:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #dee2e6;
  --color-primary: rgb(46, 46, 255);
  --color-white: #fff;
  --color-title: #212529;
  --color-text: #343a40;

  --border-radius: 12px;

  --weight-title: 500;
  --weight-text: 400;
}

/* =========================== */

.page {
  background: var(--color-white);
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ============================ */

.header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;
  line-height: 100%;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);
}

.footer {
  padding: var(--space-l) 0;
  border-top: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);
  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
}

.main {
  display: flex;
  align-items: center;
  gap: 80px;
}

.main_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.main_heading {
  font-size: 36px;
  color: #5a5a5a;
  font-weight: var(--weight-title);
  line-height: 120%;
}

.main_description {
  color: #5a5a5a;
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 170%;
}

.main_button {
  display: inline-block;
  font-size: var(--size-d);
  color: var(--color-white);
  background-color: #6c757d;
  width: max-content;
  border-radius: 4px;
  border: 1px solid #6c757d;
  padding: var(--space-m) var(--space-xm);
  text-decoration: none;
}

.featured {
  display: flex;
  padding: 0 0 40px 0;
  border-bottom: 1px solid var(--color-border);
}

.card_featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-l);
  padding: 0 26px;
  width: 100%;
}

.featured_photo {
  height: 64px;
  width: 64px;
  border-radius: var(--border-radius);
}

.featured_heading {
  font-size: 31px;
  font-weight: var(--weight-title);
  color: var(--color-title);
}

.featured_info {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  color: var(--color-text);
}

.featured_link {
  color: #0d6efd;
  font-size: 16px;
  font-weight: var(--weight-text);
  line-height: 100%;
  text-decoration: underline;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-l);
  border-radius: 8px;
  background: #563d7c;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.actions_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 240px;
  padding-bottom: 0px;
  gap: var(--space-m);
}

.actions_heading {
  font-size: 24px;
  font-weight: var(--weight-title);
  line-height: 16px;
  color: var(--color-white);
}

.actions_button {
  padding: 16px 0;
  background-color: var(--color-white);
  width: 100%;
  max-width: 240px;
  height: 52px;
  border-radius: 4.8px;
  text-decoration: none;
  color: var(--color-title);
  text-align: center;
  font-weight: var(--weight-text);
}
